<template>
  <transition name="fade">
    <div v-if="showModal" :id="id" class="fc-modal">
      <div class="fc-modal-inner" :class="'modal-' + size">
        <div class="fc-custom-modal-header">
          <h3 class="title">{{ title }}</h3>

          <button class="close-btn" @click="close">
            <IconClose :fill="$fcColors.fcGray" class="close-icon" />
          </button>
        </div>

        <div class="modal-inner">
          <slot />
        </div>

        <div class="fc-custom-modal-footer">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import IconClose from '~/components/icons/IconClose'
export default {
  name: 'fcCustomModal',
  components: { IconClose },
  inheritAttrs: true,
  props: {
    title: {
      type: String,
      default: ''
    },
    id: {
      type: String,
      default: ''
    },
    size: {
      type: String,
      default: 'lg'
    },
    hideFooter: {
      type: Boolean,
      value: false
    },
    edit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showModal: false
    }
  },
  mounted() {
    this.$root.$on('showFcCustomModal', (modalId) => {
      if (modalId === this.id) {
        this.showModal = true
      }
    })
    this.$root.$on('hideFcCustomModal', (modalId) => {
      if (modalId === this.id) {
        this.showModal = false
      }
    })
  },
  methods: {
    close() {
      this.showModal = false
    }
  }
}
</script>

<style lang="scss">
$border-color: $lightest-grey;
.fc-modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.5);
  display: flex;
  justify-content: center;
}
.fc-modal-inner {
  box-sizing: border-box;
  padding: 32px;
  border-radius: rem-calc(4px);
  background-color: #fff;
  margin: auto;
  margin-top: rem-calc(64);
}

.fc-modal-inner.modal-sm {
  width: rem-calc(300px);
}
.fc-modal-inner.modal-md {
  width: rem-calc(500px);
}
.fc-modal-inner.modal-lg {
  width: rem-calc(800px);
}

.fc-modal-inner.modal-xl {
  width: rem-calc(1148px);
}

.fc-custom-modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: rem-calc(10px);
  margin-bottom: rem-calc(10px);
  .title {
    font-size: rem-calc(24px);
    font-style: normal;
    font-weight: 300;
    line-height: rem-calc(28px);
    letter-spacing: 0.0025em;
    text-align: left;
    margin: auto 0;
  }
  .close-btn {
    margin: auto 0;
    align-self: center;
    cursor: pointer;
    appearance: unset;
    padding: 0;
    margin: 0 rem-calc(3px) 0 0;
    background-color: transparent;
    border: none;
    &:focus {
      border: none;
      outline: none;
    }
  }
}
</style>
