<template>
  <div class="user-home">
    <FcContainer v-if="!isMobile">
      <b-row>
        <b-col cols="4">
          <UserHomeSidebar />
        </b-col>
        <b-col cols="8">
          <UserHomeMain :total-items="newItemsCount" :items="timelineItems" />
        </b-col>
      </b-row>
    </FcContainer>
    <template v-else>
      <MobileLayout :height="132">
        <template slot="top">
          <div class="banner">
            <div>{{ $t('userHome.welcome', { name: name }) }}</div>
            <UserStatus />
          </div>
        </template>
      </MobileLayout>
      <div v-if="timeline && timeline.length > 0" class="user-home-mobile">
        <UserHomeMainMobile
          :total-items="newItemsCount"
          :items="timelineItems"
        />
      </div>
    </template>
  </div>
</template>

<script>
/* eslint-disable no-console */

import dayjs from 'dayjs'
import FcContainer from '~/components/common/layout/FcContainer'
import UserHomeMainMobile from '~/components/userHome/UserHomeMainMobile'
import UserHomeSidebar from '~/components/userHome/UserHomeSidebar'
import errorHandling from '~/components/mixins/errorHandling'
import MobileLayout from '~/components/common/shared/MobileLayout.vue'
import { connectionQueries } from '~/queries'
import UserHomeMain from '~/components/userHome/UserHomeMain.vue'
import UserStatus from '~/components/userHome/UserStatus'
import capitalize from '~/components/helpers/capitalize'
export default {
  watchQuery(newId) {
    if (this && !this.loading.profile) this.getProfile(newId)
  },
  components: {
    UserStatus,
    FcContainer,
    UserHomeSidebar,
    MobileLayout,
    UserHomeMainMobile,
    UserHomeMain
  },
  mixins: [errorHandling],

  async asyncData({ app, error, store }) {
    store.dispatch('profile/getProfileList')
    await store.dispatch('connection/userHome')
  },
  data() {
    return {}
  },
  computed: {
    timeline() {
      return this.$store.getters['connection/timeline']
    },
    singleItemsCount() {
      return this.timeline.length
    },
    newItemsCount() {
      return this.timeline.filter((item) => item.isNew).length
    },
    timelineItems() {
      return this.timeline
        .map((item) => {
          return {
            ...item,
            date: dayjs(item.time).format('YYYY-MM-DD')
          }
        })
        .filter((item) => item.isNew === true)
        .reduce((r, a) => {
          r[a.date] = [...(r[a.date] || []), a]
          return r
        }, {})
    },
    name() {
      const account = this.$store.getters['account/get']
      return (account && capitalize(account.firstName)) || ''
    }
  },
  mounted() {
    this.$apolloProvider.clients.connection
      .query({
        query: connectionQueries.updateTimelineRead,
        variables: {},
        fetchPolicy: 'no-cache'
      })
      .catch((err) => {
        this.$handleErrors(err, false, this)
      })
  }
}
</script>

<style lang="scss" scoped>
.user-home-mobile {
  margin-top: rem-calc(11px);
}

.banner {
  > div {
    padding-bottom: rem-calc(16px);
    padding-left: rem-calc(62px);
    font-size: rem-calc(18px);
    line-height: rem-calc(18px);
    font-weight: 100;
  }
  padding-top: rem-calc(24px);
  padding-left: rem-calc(24px);
}
.user-home-mobile {
  padding: 0 rem-calc(16px);
}
</style>
